# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

/telegram/config.properties

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


#File di config da non caricare
config.properties

#Escludo la cartella .idea così ognuno ha le sue preferenze su intellij
.idea/